In [1]:
import pandas as pd 
import numpy  as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
data1=pd.read_csv('Titanic\\train.csv')
dataVal=pd.read_csv('Titanic\\test.csv')

In [3]:
DC=[data1,dataVal]

In [4]:
DC[1].info()
DC[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
DC[0].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
print(DC[0].isnull().sum())
DC[1].isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
for dt in DC:
    dt['Age'].fillna(dt['Age'].median(),inplace=True)
    dt['Embarked'].fillna(dt['Embarked'].mode()[0],inplace=True)
    dt['Fare'].fillna(dt['Fare'].median(),inplace=True)

In [8]:
print(DC[0].isnull().sum())
DC[1].isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [9]:
DC[0]['Age'].describe()

count    891.000000
mean      29.361582
std       13.019697
min        0.420000
25%       22.000000
50%       28.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64

In [10]:
for dt in DC:
    dt['FSize']=dt['Parch']+dt['SibSp']+1
    dt['Alone']=1
    dt['Alone'].loc[dt['FSize']>1]=0
    dt['Title']=dt['Name'].str.split(",",expand=True)[1].str.split(".",expand=True)[0]
    dt['Fbin']=pd.qcut(x=dt['Fare'],q=4)
    dt['Abin']=pd.cut(x=dt['Age'].astype(int),bins=5)

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
 12  FSize        891 non-null    int64
 13  Alone        891 non-null    int64
 14  Title        891 non-null    object
 15  Fbin         891 non-null    category
 16  Abin         891 non-null    category
dtypes: category(2), float64(2), int64(7), object(6)
memory usage: 106.7+ KB

In [12]:
min=10
Tname=(data1['Title'].value_counts()<min)
#data1['Title'] = data1['Title'].apply(lambda x: 'Misc' if Tname.loc[x] == True else x)

In [13]:
data1['Title'] = data1['Title'].apply(lambda x : 'myz' if Tname.loc[x] == True else x)

In [14]:
Tname

 Mr              False
 Miss            False
 Mrs             False
 Master          False
 Dr               True
 Rev              True
 Mlle             True
 Col              True
 Major            True
 Mme              True
 Ms               True
 Jonkheer         True
 Lady             True
 Sir              True
 Don              True
 Capt             True
 the Countess     True
Name: Title, dtype: bool

In [15]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
 12  FSize        891 non-null    int64
 13  Alone        891 non-null    int64
 14  Title        891 non-null    object
 15  Fbin         891 non-null    category
 16  Abin         891 non-null    category
dtypes: category(2), float64(2), int64(7), object(6)
memory usage: 106.7+ KB

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
lbl=LabelEncoder()
for dt in DC:
    dt['Sexc']= lbl.fit_transform(dt['Sex'])
    dt['Abinc']= lbl.fit_transform(dt['Abin'])
    dt['Embrkdc']= lbl.fit_transform(dt['Embarked'])
    dt['Titlec']= lbl.fit_transform(dt['Title'])
    dt['Fbinc']= lbl.fit_transform(dt['Fbin'])

In [18]:
data1.drop(['PassengerId','Cabin','Ticket'],axis=1 ,inplace=True)
Target=data1['Survived']
Data1_x=['Pclass','FSize','Titlec','Fbinc','Abinc','Sexc','Embrkdc']

In [19]:
from sklearn import model_selection
Trainx,Trainy,Testx,testy=model_selection.train_test_split(data1[Data1_x],Target,random_state=0)

In [21]:
from sklearn.model_selection import RandomizedSearchCV
import xgboost

In [22]:
parameter={
    "learning_rate"    : [0.05,0.10,0.15,0.20,0.25,0.30,0.35],
    "gamma"            : [0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9],
    "min_child_weight" : [1,3,5,7,9],
    "max_depth"        : [3,4,5,6,8,9,11,13],
    "colsample_bytree" : [0.3,0.4,0.5,0.7]
}

In [23]:
classifier=xgboost.XGBClassifier()

In [24]:
random_search=RandomizedSearchCV(classifier,param_distributions=parameter,cv=6,verbose=3,n_jobs=-1,n_iter=10,scoring='roc_auc')

In [25]:
random_search.fit(data1[Data1_x],Target)

Fitting 6 folds for each of 10 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:    5.1s finished

RandomizedSearchCV(cv=6, error_score=nan,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, gamma=None,
                                           gpu_id=None, importance_type='gain',
                                           interaction_constraints=None,
                                           learning_rate=None,
                                           max_delta_step=None, max_depth=None,
                                           min_child_weight=None, missing=nan,
                                           monotone_constraints=None,
                                           n...
                   iid='deprecated', n_iter=10, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5,
                                                             0.7],
                                        'gamma': [0.0, 0.1, 0.2, 0.3, 0.4, 0.5,
                                                  0.6, 0.7, 0.8, 0.9],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2,
                                                          0.25, 0.3, 0.35],
                                        'max_depth': [3, 4, 5, 6, 8, 9, 11, 13],
                                        'min_child_weight': [1, 3, 5, 7, 9]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=3)

In [26]:
random_search.best_estimator_

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, gamma=0.5, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.15, max_delta_step=0, max_depth=3,
              min_child_weight=5, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
              validate_parameters=False, verbosity=None)

In [27]:
classifier=xgboost.XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, gamma=0.5, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.15, max_delta_step=0, max_depth=3,
              min_child_weight=5, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
              validate_parameters=False, verbosity=None)

In [28]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(classifier,data1[Data1_x],Target,cv=10)

In [29]:
score

array([0.78888889, 0.85393258, 0.74157303, 0.88764045, 0.86516854,
       0.83146067, 0.82022472, 0.7752809 , 0.87640449, 0.84269663])

In [30]:
score.mean()

0.8283270911360798

In [33]:
classifier.fit(data1[Data1_x],Target)
dataVal['Survived']=classifier.predict(dataVal[Data1_x])

In [34]:
submit=dataVal[['PassengerId','Survived']]

In [36]:
submit.to_csv('my_submission.csv',index=False)

In [37]:
print("Your submission was successfully saved!")

Your submission was successfully saved!